.hero {
    height: auto;
}

.hero-header {
    background: rgb(139, 115, 101);
    height: 70px;
}

.hero-header h1 {
    font-size: 30px;
    color: honeydew;
}

.heero-section {
    border-bottom: 1px dashed burlywood;
}

.hero-body {
    margin: 0px;
    padding: 0px;
    height: auto;
}

.centrar-texto {
    display: flex;
    align-items: center;
    justify-content: center
}

.centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.m {
    border: 1px dashed burlywood;
}

.codigo {
    background: rgba(255, 0, 0, 0.199);
    color: greenyellow;
    border: 1px dashed rgb(255, 0, 0);
    width: max-content;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(10px);
    font-size: 14px;
}

.cmd {
    background: rgba(0, 0, 0, 0.199);
    color: rgb(255, 255, 255);
    border: 1px dashed rgb(255, 255, 255);
    width: max-content;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(10px);
    font-family: monospace;
    font-size: 14px;
}

strong {
    color: white;
}

h1 {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

.columns {
    border-right: 1px dashed rgba(255, 217, 0, 0.438);
    margin: 0px;
}

.column {
    height: auto;
}

.titulos {
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
    text-decoration-line: underline;
}

/*------------------*/

.rutas {
    background: rgb(0, 0, 0);
    background-image: linear-gradient( rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.39)), url(https://image.freepik.com/vector-gratis/fondo-particulas-tecnologia-realista-abstracta_23-2148420656.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: blanchedalmond;
    height: auto;
}

.rutas div {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*_-----------------------------*/

.controladores {
    background: rgb(0, 0, 0);
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://pm1.narvii.com/6328/ad3afd916e79587202dd2d23fc4e0f745fbe4a56_00.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: blanchedalmond;
    height: auto;
}

.controladores div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.vistas {
    
    background: rgb(0, 0, 0);
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://www.lavanguardia.com/r/GODO/LV/p6/WebSite/2019/12/12/Recortada/img_tayala_20191212-170036_imagenes_lv_terceros_confital-638-kMxB-U472193232964CTC-992x558@LaVanguardia-Web.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: blanchedalmond;
    height: auto;
}
.vistas div {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*_-----------------------------*/

.foot-pag {
    width: 100%;
    height: 300px;
    background-color: black;
    color: white;
}

/*_-----------------------------*/

@media (max-width: 768px) {
    .codigo {
        width: auto;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }
    .cmd {
        font-size: 12px;
        width: 99%;
    }
}